.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.card-main{
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 2px 2px grey;
    flex: 1;
    margin-left: 50px;
    margin-right: 50px;
}
img{
    height: 25vh;
    width: 100%;
}
.content{
    margin-left: 20px;
}
h1{
    line-height: 5.2rem;
}
button{
    padding: 13px;
    background-color: #0ba6ff;
    color: white;
    border: none;
    margin: 25px 0px 25px 25px;
    transition: width 2s;
}
button:hover {
    color: black;
    width: 120px;
}
@media only screen and (max-width:650px){
    .main{
        flex-direction: column;
    }
    h1{
        line-height: 2.2rem;
    }
    
}